*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  align-items: flex-end;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  cursor: pointer;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__label {
  gap: 5px;
  display: flex;
  align-items: center;
  inline-size: fit-content;
  cursor: pointer;
}
.search-form__textfield {
  padding: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  height: 27px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  line-height: normal;
  appearance: none;
  border-width: 1px 0;
  border-color: white;
  border-style: solid;
  color: #fff;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__checkbox:focus {
  outline: none;
}
.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.button {
  width: 194px;
  height: 34px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}
.search-form__submit-button {
  align-self: end;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: rgba(84, 80, 80, 1);
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.content__details {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 100%;
}
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px;
  overflow-y: auto;
  position: relative;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 392px;
  justify-content: space-around;
  padding-left: 3px;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  gap: 4px;
  padding-top: 2px;
}
.title {
  padding-block-end: 23px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.93;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}
.content__accent {
  opacity: 0.2;
}
.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  max-width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-description {
  line-height: 0.9;
  font-weight: 400;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  width: 196px;
}
.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}
.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 2px;
}
.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}
.more-button {
  height: 34px;
  flex: 0 0 34px;
  align-self: center;
  width: 390px;
}
.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  margin-bottom: 3px;
}



